.user-chip {
    background: transparent;
    color: white;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.user-chip .cancel-icon {
    color: white;
}

.group-id {
    color: white;
}

.group-row {
    background-color: rgba(255, 255, 255, 0.05);
    margin: 2px;
}

.header-row span{
    color: white;
    font-weight: 500;
}