<div class="d-flex h-100">
    <div class="d-flex flex-row login-container m-auto">
        <div class="left-image w-50"></div>
        <div class="mx-4 my-2 w-50">
            <h1 class="welcome-text mt-5">Welcome Back...</h1>
            <form #userForm="ngForm" class="mt-4" (ngSubmit)="loginToDashboard(userForm.value)">
                <mat-form-field appearance="outline" class="w-100">
                  <!-- <mat-label>User ID</mat-label> -->
                  <input name="username" matInput placeholder="User ID" value="" ngModel>
                </mat-form-field>
              
                <mat-form-field appearance="outline" class="w-100">
                  <!-- <mat-label>Password</mat-label> -->
                  <input name="password" matInput placeholder="Password" ngModel>
                </mat-form-field>
                <button class="w-100 button py-1 mt-5" type="submit" mat-raised-button>Login</button>
              </form>
              
    
        </div>
    </div>
</div>